POSTGRES_HOST=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example
POSTGRES_PORT=5432
PORT=8080
SESSION_TOKEN_SECRET=replace-with-a-secret-at-least-32-characters-long
S3_ACCOUNT_ID=example
S3_ACCESS_KEY_ID=example
S3_SECRET_ACCESS_KEY=example
S3_BUCKET_NAME=example
S3_PUBLIC_URL=example
